<Page [ngClass]="'input'" [title]="'广安烟草'" [subTitle]="'创建新抽奖'" [spacing]="false">
  <form #f="ngForm">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cells__tips">填写活动名称</div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">活动名称</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" [(ngModel)]="input.name" name="input.name" placeholder="请输入活动名称"
            weui-input="name" weui-required />
        </div>
      </div>

      <div class="weui-cells__tips">设置日期</div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">开始时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="datetime-local" [(ngModel)]="input.beginTime" name="beginTime" required />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">截止时间</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="datetime-local" [(ngModel)]="input.endTime" name="endTime" value=""
            placeholder="" />
        </div>
      </div>
      <div class="weui-cells__tips">填写奖品</div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">奖品名称</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" [(ngModel)]="prizeName" name="prizeName" placeholder="请输入奖品名称"
            weui-input="name" weui-required />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">奖品数量</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" [(ngModel)]="prizeNum" name="prizeNum" placeholder="请输入奖品数量"
            weui-input="name" weui-required />
        </div>
      </div>
    </div>
  
    <div class="button-sp-area" *ngIf="iSPriceButtonShow">
      <button weui-button [disabled]="!f.form.valid" (click)="savePrice()">保存奖品</button>
    </div>
    <div class="button-sp-area" *ngIf="isSave">
      <button weui-button [weui-plain]="true" [disabled]="!f.form.valid" (click)="onSave()">保存</button>
      <button weui-button class="weui-btn weui-btn_primary" [disabled]="!f.form.valid" (click)="publish()">
        发布
      </button>
    </div>
  </form>
</Page>