<Page [ngClass]="'input'" [title]="'广安烟草'" [subTitle]="'抽奖活动列表'" [spacing]="false">
  <div class="weui-cells__title">活动列表</div>
  <div *ngIf="item.length != 0">
   
        <div class="weui-panel weui-panel_access" *ngFor="let items of item">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-cell__hd weui-cell_img" >
                    </div>
                    <div class="weui-media-box__bd">
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta sp">活动名字：{{items.name}}</li>
                        </ul>
                        <ul class="weui-media-box__info pc">
                            <li class="weui-media-box__info__meta t">开始时间：{{items.beginTime| date:'yyyy-MM-dd HH:mm'}}</li>
                            <li class="weui-media-box__info__meta t">截至时间：{{items.endTime| date:'yyyy-MM-dd HH:mm'}}</li>
                            <li class="weui-media-box__info__meta t">是否发布: {{items.isPublish==true?"是":"否"}}</li>
                        </ul>
                    </div>
                </div>
                <div class="weui-cell weui-cell_access">
                    <a class="weui-form-preview__btn weui-form-preview__btn_primary" (click)="goToDetail(items.id,items.isPublish)">点击查看</a>
                </div>
            </div>
        </div>
   
</div>
</Page>