<Page [ngClass]="'input'" [title]="'广安烟草'" [subTitle]="'添加奖品'" [spacing]="false">

    <div class="weui-cells__tips">填写奖品列表</div>

      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">奖品名称</label></div>
        <div class="weui-cell__bd">
          <input
            class="weui-input"
            type="text"
            [(ngModel)]="name"
            name="name"
            placeholder="请输入奖品名称"
            weui-input="name"
            weui-required
          />
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">奖品数量</label></div>
        <div class="weui-cell__bd">
          <input
            class="weui-input"
            type="number"
            [(ngModel)]="num"
            name="num"
            placeholder="请输入奖品数量"
            weui-input="num"
            weui-required
          />
        </div>
      </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">奖品等级</label>
          </div>
          <div class="weui-cell__bd">
            <weui-picker
              placeholder="选择奖品等级"
              required
              [groups]="itemGroup"
              [(ngModel)]="type"
              name="type"
            ></weui-picker>
          </div>
      </div>
      <br>
      <div class="button-sp-area">
        <button weui-button (click)="save()">保存</button>
    </div>

</Page>