<Page [ngClass]="'list'" [title]="'广安烟草'" [subTitle]="'活动详情'" [spacing]="false">
  <div class="weui-cells__title">活动详情</div>
  <div class="weui-cells" >
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>活动名称</p>
      </div>
      <div class="weui-cell__ft">{{items.name}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>开始时间</p>
      </div>
      <div class="weui-cell__ft">{{items.beginTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>结束时间</p>
      </div>
      <div class="weui-cell__ft">{{items.endTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>是否发布</p>
      </div>
      <div class="weui-cell__ft">{{items.isPublish==true?"是":"否"}}</div>
    </div>

  
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <p>是否出奖</p>
    </div>
    <div class="weui-cell__ft">{{items.lotteryState==true?"是":"否"}}</div>
  </div>
  <a class="weui-cell weui-cell_access" (click)="shoWLotteryJoinList()" *ngIf="items.isPublish">
    <div class="weui-cell__bd">
      <p>参与列表</p>
    </div>
    <div class="weui-cell__ft">{{num_Lottery}}/{{num_Total}}</div>
  </a>
</div>

  <div class="weui-cells__title">奖品详情</div>
  <div class="weui-cell">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品名称</label></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品数量</label></div>
    </div>
    <div class="weui-cells__title" *ngIf="">暂无数据</div>
    </div>

    <div class="weui-cell" *ngFor="let i of items.list">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.name}}</label></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.num}}</label></div>
      </div>
      </div>

      <div class="weui-cells__title" *ngIf="items.isPublish&&items.lotteryState">中奖人</div>
      <div class="weui-cell">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">中奖人</label></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">奖品</label></div>
        </div>
      </div>
        <div class="weui-cell" *ngFor="let i of items.lotteryDetails">
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">{{i.name}}</label></div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">{{i.prizeName}}</label></div>
          </div>
          </div>
          <div class="weui-cells__title" *ngIf="!items.lotteryState&&items.isPublish">未开奖</div>

</Page>
