<Page [ngClass]="'list'" [title]="'广安烟草'" [subTitle]="'活动详情'" [spacing]="false">
  <div class="weui-cells__title">活动详情</div>
  <div class="weui-cells" >
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>活动名称</p>
      </div>
      <div class="weui-cell__ft">{{items.name}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>开始时间</p>
      </div>
      <div class="weui-cell__ft">{{items.beginTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>结束时间</p>
      </div>
      <div class="weui-cell__ft">{{items.endTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>是否公布</p>
      </div>
      <div class="weui-cell__ft">{{items.isPublish==true?"是":"否"}}</div>
    </div>
  </div>

  <div class="weui-cells__title">奖品详情</div>
  <div class="weui-cell">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品名称</label></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品数量</label></div>
    </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">奖品等级</label>
        </div>
    </div>
    <div class="weui-cells__title" *ngIf="">暂无数据</div>
    </div>

    <div class="weui-cell" *ngFor="let i of items.list">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.name}}</label></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.num}}</label></div>
      </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">{{i.type}}</label>
          </div>
      </div>
      </div>
      
      <button weui-button (click)="publish()" *ngIf="!items.isPublish">发布</button>

</Page>
