<nz-tabset>
    <nz-tab>
        <ng-template #nzTabHeading>
            抽奖配置
        </ng-template>
        <nz-card>
            <form nz-form [formGroup]="form" id="frm_create_role">
                <div nz-row>
                    <div nz-col [nzSpan]="16">
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="rcValue"> 当前抽奖活动管理员</label>
                            </div>
                            <div nz-col [nzSm]="4">
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="button"
                                    (click)="employee()">
                                    选择抽奖活动管理员
                                </button>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="5">
                                <label for="user">已选择抽奖活动管理员</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="19">
                                <nz-tag *ngFor="let item of usersDto" nzClosable
                                    (nzClose)="onClose($event, item.openId)">
                                    {{item.userName}}</nz-tag>
                            </div>
                        </div>
                        <div nz-form-item nz-row>
                            <div nz-form-label nz-col [nzSm]="9">
                                <button nz-button *ngIf="usersDto.length!=0" [nzType]="'default'" [nzSize]="'large'"
                                    type="button" (click)="cancel()">
                                    清空
                                </button>
                                <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="button"
                                    (click)="saveConfig()" [nzLoading]="wxloading">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nz-card>
    </nz-tab>
</nz-tabset>
<message-employee-modal #selectsEmployeeModal (modalSelect)="getSelectData($event)"></message-employee-modal>