<Page [ngClass]="'input'" [title]="'广安烟草'" [subTitle]="'签到人员详细'" [spacing]="false">
  <weui-searchbar (search)="getStaff($event)" [(value)]="value" (cancel)="onCancel()" placeholder="请输入姓名、工号" (clear)="onClear()" [debounceTime]="500"></weui-searchbar>
  <weui-infiniteloader (loadmore)="onLoadMore($event)">
    <article class="weui-article">
      <h1>{{deptName}}部门人员列表</h1>
      <div class="weui-panel" style="margin-top: 0px;" *ngIf="items.length>0">
        <!-- <div class="weui-panel__hd">只显示符合【{{value}}】的前50条数据</div> -->
        <div class="weui-cells__title">
            <a class="weui-cell weui-cells__title">
                <div class="weui-cell__hd">姓名</div>
                <div class="weui-cell__bd" style="text-align:center;">工号</div>
                <div class="weui-cell__ft">签到</div>
            </a>
        </div>
        <a *ngFor="let i of items" class="weui-cell weui-cell_access" (click)="goCustomerLeavel(i)">
            <div class="weui-cell__hd">{{i.name}}</div>
            <div class="weui-cell__bd" style="text-align:center;">{{i.code}}</div>
            <div class="weui-cell__ft">{{i.isSign==true?"是":"否"}}</div>
        </a>
    </div>
    <weui-loadmore type="line" *ngIf="(!items||items.length==0) && !value" [lineText]="'搜索并选择零售户'"></weui-loadmore>
    <weui-loadmore type="line" *ngIf="items?.length === 0 && value" [lineText]="'没有符合的零售户信息'"></weui-loadmore>
    </article>
  </weui-infiniteloader>
</Page>