<Page [ngClass]="'list'" [title]="'广安烟草'" [subTitle]="'中奖详情'" [spacing]="false">

  <article class="weui-article">
    <p>
      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4152013619,854862305&fm=26&gp=0.jpg" alt="" />
    </p>
    <section>
      <h3>中奖说明</h3>
      <p>
        前前往XXX处领取你的奖品吧！
      </p>
    </section>
  </article>


  <div class="weui-cells__title">活动详情</div>
  <div class="weui-cells" >
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>活动名称</p>
      </div>
      <div class="weui-cell__ft">{{items.name}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>开始时间</p>
      </div>
      <div class="weui-cell__ft">{{items.beginTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>结束时间</p>
      </div>
      <div class="weui-cell__ft">{{items.endTime | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>
  </div>

  <div class="weui-cells__title">奖品详情</div>
  <div class="weui-cell">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品名称</label></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">奖品数量</label></div>
    </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">奖品等级</label>
        </div>
    </div>
    <div class="weui-cells__title" *ngIf="">暂无数据</div>
    </div>

    <div class="weui-cell" *ngFor="let i of items.list">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.name}}</label></div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">{{i.num}}</label></div>
      </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">{{i.type}}</label>
          </div>
      </div>
      </div>

      <div class="weui-cells__title">中奖者</div>
      <div class="weui-cell">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">中奖者</label></div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">奖品</label></div>
        </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <label class="weui-label">数量</label>
            </div>
        </div>
      </div>

  
</Page>