<Page [ngClass]="'article'" [title]="'广安烟草'" [subTitle]="'抽奖签到'" [spacing]="false">
  <div class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">签到情况</label>
        <em class="weui-form-preview__value">未签到</em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">姓名</label>
        <span class="weui-form-preview__value">杨杰</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">部门</label>
        <span class="weui-form-preview__value">开发部</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">员工编号</label>
        <span class="weui-form-preview__value">153020160</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">提醒信息</label>
        <span class="weui-form-preview__value"
          >未签到的员工无法加入年会的抽奖！！！</span
        >
      </div>
    </div>
    <div class="button-sp-area">
      <button weui-button [weui-loading]="loading" (click)="loading = !loading">签到</button>
    </div>
  </div>
</Page>