<Page [ngClass]="'panel'" [title]="'广安烟草'" [subTitle]="'中奖列表'" [spacing]="false">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">抽奖列表</div>
    <div class="weui-panel__bd">
      <a class="weui-media-box weui-media-box_appmsg" (click)="goToJoin(i.id)" *ngFor="let i of items">
        <div class="weui-media-box__hd">
          <img
            class="weui-media-box__thumb"
            src="http://img5.imgtn.bdimg.com/it/u=2511975391,2350053632&fm=26&gp=0.jpg"
            alt=""
          />
        </div>
        <div class="weui-media-box__bd">
          <span class="weui-media-box__title">{{i.name}}</span>
          <span class="weui-media-box__ft" *ngIf="!i.lotteryState" style="color: chartreuse;float:right;">
            进行中
           </span>
           <span class="weui-media-box__ft" *ngIf="i.lotteryState" style="color:mediumvioletred;float:right;">
            查看名单
           </span>
          <p class="weui-media-box__desc">
           开始时间：{{i.beginTime| date:'yyyy-MM-dd HH:mm'}}
          </p>
          <p class="weui-media-box__desc">
            结束时间：{{i.endTime| date:'yyyy-MM-dd HH:mm'}}
           </p>
         
        </div>
        <div class="weui-panel__ft">
          <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">

            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </a>
     
    </div>

  </div>

</Page>