<Page [ngClass]="'panel'" [title]="'广安烟草'" [subTitle]="'中奖列表'" [spacing]="false">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">抽奖列表</div>
    <div class="weui-panel__bd">
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img
            class="weui-media-box__thumb"
            src="http://img5.imgtn.bdimg.com/it/u=2511975391,2350053632&fm=26&gp=0.jpg"
            alt=""
          />
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">一等奖：Ipad一只</h4>
          <p class="weui-media-box__desc">
            中奖人：开发部杨杰
          </p>
        </div>
        <div class="weui-panel__ft">
          <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">

            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </a>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img
            class="weui-media-box__thumb"
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1577184231697&di=fa3eaeb15739c1c17fbb368920955155&imgtype=0&src=http%3A%2F%2Fpic.xigoubao.com%2Fimages%2F201608%2F1470014544031867890.jpg"
            alt=""
          />
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">二等奖：Ipad一只</h4>
          <p class="weui-media-box__desc">
            中奖人：开发部杨杰
          </p>
        </div>
        <div class="weui-panel__ft">
          <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">

            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </a>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img
            class="weui-media-box__thumb"
            src="http://img0.imgtn.bdimg.com/it/u=1501664513,895723975&fm=26&gp=0.jpg"
            alt=""
          />
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">三等奖：Ipad一只</h4>
          <p class="weui-media-box__desc">
            中奖人：开发部杨杰
          </p>
        </div>
        <div class="weui-panel__ft">
          <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">

            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </a>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img
            class="weui-media-box__thumb"
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1577184231697&di=fa3eaeb15739c1c17fbb368920955155&imgtype=0&src=http%3A%2F%2Fpic.xigoubao.com%2Fimages%2F201608%2F1470014544031867890.jpg"
            alt=""
          />
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">特等奖等奖：Ipad一只</h4>
          <p class="weui-media-box__desc">
           中奖人：开发部杨杰
          </p>
        </div>
        <div class="weui-panel__ft">
          <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">

            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </a>
    </div>

  </div>

</Page>